{% extends 'base.html' %}
{% block title %} Metadata {% endblock %}
{% block content %}
<div style="margin-top: 23px; margin-left: 1%; margin-right: 12%;">
    <span style="font-size: 23px;">Počet uživateľov: <b>{{ userscount }}</b> &emsp;
    Počet systémov: <b>{{ systemcount }}</b> &emsp;
    Počet zariadení: <b>{{ devicecount }}</b></br></br>
    Systémy:
    </span>
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 30%">Názov</th>
            <th scope="col" style="width: 30%">Popis</th>
            <th scope="col" style="width: 30%">Vlastník</th>
            <th scope="col" style="width: 10%">Počet zariadení</th>
          </tr>
        </thead>
        <tbody>
          {% for y in systemy %}
          <tr>
              <td>{{ y.nazov }}</td>
              <td>{{ y.popis }}</td>
              <td> {{ y.spravca }}</td>
              <td> {{ y.pocet_z }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
    <div style="text-align: center;">
    <a href="/login" class="btn btn-primary" style="margin-top: 2%;">Prejisť na prihlásenie</a><br></br>
</div>
{% endblock %}